<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barisic.newsgetter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/news_getter_icon_foreground"
        android:label="@string/app_name"
        android:logo="@mipmap/news_getter_icon"
        android:roundIcon="@mipmap/news_getter_icon"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".ArticleSingle" />
        <activity android:name=".NewsTest" />
        <activity android:name=".MainActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>